@import "commonstyles.css";
#home-pg {
  display: grid;
  grid-template-columns: 18% 82%;
  height: 100vh;
}

#menu-section {
  display: grid;
  grid-template-rows: 16% 24% 40%;
  background-color: #f9cece;
}

#app-name-logo {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  padding-top: 2.2%;
}

#app-logo {
  height: 52px;
  width: 52px;
}

#app-name {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin-left: 3%;
  margin-top: 1%;
}

#sections {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 4%;
}

#inbox-sym,
#sent-sym,
#drafts-sym,
#trash-sym {
    height: 22px;
    width: 22px;
    margin-top: 20%;
}
#inbox-sec,
#sent-sec,
#drafts-sec,
#trash-sec {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding-top: 2%;
    padding-left: 24%;
    cursor: pointer;
    display: flex;
}
#inbox-txt,
#sent-txt,
#drafts-txt,
#trash-txt{
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    margin-left: 10%;
    text-decoration: none;
    color: black;
}
#inbox-sec:hover,
#sent-sec:hover,
#drafts-sec:hover,
#trash-sec:hover {
    background-color: #FF4F5A;
    cursor: pointer;
    text-decoration: none;
}
#inbox-txt:hover,
#sent-txt:hover,
#drafts-txt:hover,
#trash-txt:hover {
    color: white;
}
#compose-section {
  display: grid;
  grid-template-rows: 10% 92%;
  background-color: white;
  height: 98vh;
}
#section-header {
  background-color: #eeacac;
  display: grid;
  grid-template-columns: 85% 15%;
}
#section-name {
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  margin-top: 1%;
  margin-left: 50%;
}
#sign-out-btn {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 65% 35%;
  cursor: pointer;
}
#sign-out-txt {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  margin-left: 10%;
  text-decoration: none;
  color: black;
}
#sign-out-txt:hover {
  color: white;
}
#profile-user {
  height: 32px;
  width: 32px;
}
#compose-box {
  display: grid;
  grid-template-rows: 10% 8% 76% 6%;
  overflow-y: auto;
  font-family: "Mulish", sans-serif;
  background-color: #f5f5f5;
  padding: 2% 2% 1% 2%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#subject-time {
  display: grid;
  grid-template-columns: 10% 88% 2%;
  border-bottom: 2px solid black;
}
#subject-title{
  font-size: 24px;
  padding-top: 12.6%;
}
#subject-inp {
  font-size: 22px;
  font-family: 'Mulish', sans-serif;
  background-color: #f5f5f5;
  border: none transparent;
  outline: none;
  height: 100%;
  width: 100%;
}
#close-compose {
    font-size: 20px;
}
#close-compose:hover {
    cursor: pointer;
    color: red;
}
#from-sender,
#to-recipient {
    display: grid;
    grid-template-columns: 10% 90%;
    border-bottom: 2px solid black;
}
#to-title {
  padding-top: 8%;
  font-size: 24px;
}
#recipient-name {
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  background-color: #f5f5f5;
  border: none transparent;
  outline: none;
  width: 100%;
  height: 100%;
}
#content{
    padding-top: 1%;
    background-color: #f5f5f5;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    overflow-y: auto;
    width: 100%;
    height: 62vh;
    resize: none;
}
#send-btn{
    background-color: #FF4F5A;
    border-radius: 15px;
    margin-left: 84%;
    width: fit-content;
    padding: 0.2% 2.2% 0% 2.2%;
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
}
