@import "commonstyles.css";
#home-pg {
  display: grid;
  grid-template-columns: 18% 82%;
  height: 100vh;
}
#menu-section {
  background-color: #f9cece;
  display: grid;
  grid-template-rows: 16% 24% 40%;
}
#app-name-logo {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  padding-top: 2.2%;
}
#app-logo {
  height: 52px;
  width: 52px;
}
#app-name {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-left: 3%;
  margin-top: 1%;
}
#sections {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 4%;
}
#drafts-sec {
  background-color: #ff4f5a;
  cursor: pointer;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 24%;
  padding-top: 2%;
}
#inbox-sym,
#sent-sym,
#drafts-sym,
#trash-sym {
  height: 22px;
  margin-top: 20%;
  width: 22px;
}
#drafts-txt {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  margin-left: 10%;
  text-decoration: none;
}
#inbox-sec,
#sent-sec,
#trash-sec {
  background-color: white;
  cursor: pointer;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 24%;
  padding-top: 2%;
}
#inbox-txt,
#sent-txt,
#trash-txt {
  color: black;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  margin-left: 10%;
  text-decoration: none;
}
#inbox-sec:hover,
#sent-sec:hover,
#trash-sec:hover {
  background-color: #ff4f5a;
  cursor: pointer;
  text-decoration: none;
}
#inbox-txt:hover,
#sent-txt:hover,
#trash-txt:hover {
  color: white;
}
#design-section {
  background-color: white;
  display: grid;
  grid-template-rows: 10% 82% 8%;
}
#section-header {
  background-color: #eeacac;
  display: grid;
  grid-template-columns: 85% 15%;
}
#section-name {
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  margin-left: 50%;
  margin-top: 1%;
}
#sign-out-btn {
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: 10%;
}
#sign-out-txt {
  color: black;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  margin-left: 10%;
  text-decoration: none;
}
#sign-out-txt:hover {
  color: white;
}
#profile-user {
  height: 32px;
  width: 32px;
}
#mails-container {
  background-image: url(../assets/images/sectionpg-bg-small.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mail {
  background-color: #faebeb;
  cursor: pointer;
  display: grid;
  font-family: "Mulish", sans-serif;
  grid-template-columns: 5% 92% 3%;
  height: 8%;
  margin-bottom: 0.5%;
  padding-top: 1%;
  width: 100%;
}
.show-mail {
  display: grid;
  grid-template-columns: 20% 70% 10%;
}
.pin {
  padding-left: 20%;
}
.pin-symbol {
  height: 28px;
  width: 28px;
}
.sender-name,
.mail-title {
  font-size: 22px;
}
.time {
  font-size: 18px;
}
.trash-can {
  height: 16px;
  margin-top: 8%;
  width: 16px;
}
.trash-can:hover {
  background-color: white;
  height: 16px;
  margin-top: 8%;
  width: 16px;
}
#compose-btn {
  background-color: #ff4f5a;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  display: flex;
  margin-left: 84%;
  padding: 0.5% 2.2% 0.5% 2.2%;
  width: fit-content;
}
#compose-txt {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  margin-left: 8%;
  text-decoration: none;
}
#compose-sym {
  height: 22px;
  margin-top: 20%;
  width: 22px;
}
#compose-btn:hover {
  background-color: #a12c34;
  color: white;
}
#mail-container {
  display: grid;
  grid-template-rows: 10% 8% 82%;
  font-family: "Mulish", sans-serif;
  background-color: white;
  padding: 2% 2% 1% 2%;
  margin: 1%;
  height: 82vh;
  border-radius: 10px;
}
#subject-time {
  display: grid;
  grid-template-columns: 98% 2%;
  border-bottom: 2px solid black;
}
#subject {
  font-size: 32px;
}
#time-stamp {
  font-size: 16px;
}
#close-compose {
  font-size: 20px;
}
#close-compose:hover {
  cursor: pointer;
  color: red;
}
#from-sender,
#to-recipient {
  padding-top: 0.8%;
  display: grid;
  grid-template-columns: 10% 90%;
  font-size: 24px;
  border-bottom: 2px solid black;
}
#content {
  padding-top: 1%;
  overflow-y: auto;
}

