@import "commonstyles.css";
#home-pg {
    display: grid;
    grid-template-columns: 18% 82%;
    height: 100vh;
}

#menu-section {
    display: grid;
    grid-template-rows: 16% 24% 40%;
    background-color: #F9CECE;
}

#app-name-logo {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-top: 2.2%;
}

#app-logo {
    height: 52px;
    width: 52px;
}

#app-name {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 3%;
    margin-top: 1%;
}

#sections {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 4%;
}
#inbox-sym,
#sent-sym,
#drafts-sym,
#trash-sym {
    height: 22px;
    width: 22px;
    margin-top: 20%;
}
#inbox-sec,
#sent-sec,
#drafts-sec,
#trash-sec {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding-top: 2%;
    padding-left: 24%;
    cursor: pointer;
    display: flex;
}
#inbox-txt,
#sent-txt,
#drafts-txt,
#trash-txt{
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    margin-left: 10%;
}
#inbox-sec:hover,
#sent-sec:hover,
#drafts-sec:hover,
#trash-sec:hover {
    background-color: #FF4F5A;
    color: white;
    cursor: pointer;
}

#design-section {
    display: grid;
    grid-template-rows: 20% 72% 8%;
    background-color: white;
    height: 96vh;
}

#welcome-message {
    font-family: 'Mulish', sans-serif;
    margin-top: 3%;
    margin-left: 30%;
}

#welcome {
    font-size: 32px;
}

#select {
    font-size: 24px;
    margin-left: 3%;
}

#bg-image {
    background-image: url(../assets/images/homepg-bg-small.jpg);
    background-repeat: no-repeat;
    margin-left: 26%;
    margin-top: 4%;
}

#compose-btn {
    background-color: #FF4F5A;
    border-radius: 18px;
    margin-left: 84%;
    width: fit-content;
    padding: 0.5% 2.2% 0.5% 2.2%;
    cursor: pointer;
    color: white;
    display: flex;
}

#compose-txt {
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    margin-left: 8%;
    text-decoration: none;
    color: white;
}

#compose-sym {
    width: 22px;
    height: 22px;
    margin-top: 20%;
}

#compose-btn:hover {
    background-color: #A12C34;
    color: white;
}