@import "commonstyles.css";
#signup-pg {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

#signup-side {
  background-color: #e1e1e1;
}

#signup-box {
  background-color: white;
  width: 40vh;
  height: 66vh;
  border-radius: 15px;
  font-family: "Mulish", sans-serif;
  margin-top: 40%;
  margin-left: 15%;
}

#sign-up-title {
  font-size: 30px;
  padding-top: 10%;
  padding-left: 12%;
  padding-bottom: 8%;
}

#name,
#email,
#password,
#conf-password,
#name-input,
#email-input,
#password-input,
#conf-password-input {
  margin-left: 10%;
  margin-bottom: 3%;
}

#name,
#email,
#password,
#conf-password {
  font-size: 14px;
}

#email-input,
#name-input,
#password-input,
#conf-password-input  {
  font-size: 16px;
  background-color: #f9cece;
  height: 30px;
  width: 80%;
  border-color: #f9cece;
  margin-top: 1%;
  position: relative;
}

/* #password-container {
      width: 80%;
      margin-left: 10%;
      background-color: #f9cece;
  }; */

.field-icon {
  float: right;
  position: absolute;
  margin-top: 0.5%;
  /* margin-left: 2%; */
  margin-right: 2%;
  z-index: 2;
  /* float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9cece inset !important;
}

#signup-btn {
  border-radius: 10px;
  font-size: 18px;
  background-color: #ff4f5a;
  font-family: "Mulish", sans-serif;
  color: white;
  width: 106px;
  border-color: #ff4f5a;
  margin-left: 28%;
  margin-top: 4%;
  padding-bottom: 1.2%;
}

#signup-btn:hover {
  background-color: #bc343e;
  cursor: pointer;
}

#signup-error-message {
  font-size: 14px;
  margin-left: 4%;
  margin-top: 4%;
}
.login-redir {
  margin-left: 16%;
  margin-top: 4%;
}

#login-redir {
  margin-left: 38%;
}

#design-side {
  display: grid;
  grid-template-rows: 12% 88%;
}

#logo-section {
  background-color: #ff4f5a;
}

#app-logo-name {
  margin-top: 1%;
  margin-left: 40%;
  display: flex;
}

#app-logo {
  height: 62px;
  width: 62px;
}

#app-name {
  font-family: "Pacifico", cursive;
  font-size: 42px;
  color: white;
  padding-left: 2%;
}

#digi-illustration {
  background-color: white;
  background-image: url(../assets/images/login-signup-bg-small.jpg);
  background-repeat: no-repeat;
  margin-top: 8%;
  margin-left: 15%;
}
