<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/homepgstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Mail Bird</title>
    <link rel="shortcut icon" href="./assets/images/logo-carrier-pigeon.png" />
  </head>
  <body>
    <div id="home-pg">
        <div id="menu-section">
            <div id="app-name-logo">
                <div><img id="app-logo" src="assets/images/logo-carrier-pigeon.png" alt="logo-carrier-pigeon"></div>
                <div id="app-name">Mail Bird</div> 
            </div>
            <div id="sections">
                <div id="inbox-sec">
                    <div><img id="inbox-sym" src="./assets/images/inbox.png" alt=""></div>
                    <div id="inbox-txt">Inbox</div>
                </div>
                <div id="sent-sec">
                    <div><img id="sent-sym" src="./assets/images/sent.png" alt=""></div>
                    <div id="sent-txt">Sent</div>
                </div>
                <div id="drafts-sec">
                    <div><img id="drafts-sym" src="./assets/images/draft.png" alt=""></div>
                    <div id="drafts-txt">Drafts</div>
                </div>
                <div id="trash-sec">
                    <div><img id="trash-sym" src="./assets/images/trash.png" alt=""></div>
                    <div id="trash-txt">Trash</div>
                </div>
            </div>
            <div></div>
        </div>
        <div id="design-section">
            <div id="welcome-message">
                <div id="welcome">Welcome to your mail box!</div>
                <div id="select">Select a section to go through</div>
            </div>
            <div id="bg-image"></div>
            <div>
                <div id="compose-btn">Compose</div>
            </div>
        </div>
    </div>
  </body>
</html>
