<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepgstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Mail Bird</title>
    <link rel="shortcut icon" href="./assets/images/logo-carrier-pigeon.png" />
  </head>
  <body>
    <div id="home-pg">
        <div id="menu-section">
            <div id="app-name-logo">
                <div><img id="app-logo" src="assets/images/logo-carrier-pigeon.png" alt="logo-carrier-pigeon"></div>
                <div id="app-name">Mail Bird</div> 
            </div>
            <div id="sections">
                <div id="inbox-sec">Inbox</div>
                <div id="sent-sec">Sent</div>
                <div id="drafts-sec">Drafts</div>
                <div id="trash-sec">Trash</div>
            </div>
            <div></div>
        </div>
        <div id="design-section">
            <div id="welcome-message">
                <div id="welcome">Welcome to your mail box!</div>
                <div id="select">Select a section to go through</div>
            </div>
            <div><img id="bg-image" src="assets/images/homepg-bg-small.jpg" alt="person working on laptop"></div>
            <div>
                <div id="compose-btn">Compose</div>
            </div>
        </div>
    </div>
  </body>
</html>
