<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/signupstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <title>Mail Bird</title>
    <link rel="shortcut icon" href="./assets/images/logo-carrier-pigeon.png" />
  </head>
  <body>
    <div id="signup-pg">
      <div id="signup-side">
        <div id="signup-box">
          <div id="sign-up-title">Create Account</div>
          <form action="/signup" method="POST">
            <div>
              <label id="name" for="name">Name*</label>
            </div>
            <div>
              <input
                id="name-input"
                type="text"
                id="name"
                name="name"
                placeholder="Enter full name"
                required
              />
            </div>
            <div>
              <label id="email" for="email">Email Address*</label>
            </div>
            <div>
              <input
                id="email-input"
                type="email"
                id="email"
                name="email"
                placeholder="Enter email address"
                required
              />
            </div>
            <div>
              <label id="password" for="password">Password*</label>
            </div>
            <div class="password-container">
              <input
                id="password-input"
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
              <img
                id="password-hidden"
                src="./assets/images/password-hidden.png"
                alt="password hidden"
                onclick="toggleVisibility()"
              />
            </div>
            <div>
              <label id="conf-password" for="password">Confirm Password*</label>
            </div>
            <div class="password-container">
              <input
                id="conf-password-input"
                type="password"
                id="confirm-password"
                name="confirmPassword"
                placeholder="Enter password again"
                required
              />
              <img
                id="conf-password-hidden"
                src="./assets/images/password-hidden.png"
                alt="password hidden"
                onclick="togglePwdVisibility()"
              />
            </div>
            <div>
              <button id="signup-btn" type="submit">Sign up</button>
            </div>
          </form>
          <div id="signup-error-message">
            <img id="error-msg-icon" src="./assets/images/error-message.png" alt="error-icon">
            <% if(message) { %> <%= message %> <% } %>
          </div>
          <div class="login-redir">Already have an account?</div>
          <div>
            <a class="login-redir" id="login-redir" href="/login">Log In</a>
          </div>
        </div>
      </div>
      <div id="design-side">
        <div id="logo-section">
          <div id="app-logo-name">
            <div>
              <img
                id="app-logo"
                src="./assets/images/logo-carrier-pigeon.png"
                alt="logo-carrier-pigeon"
              />
            </div>
            <div id="app-name">Mail Bird</div>
          </div>
        </div>
        <div id="digi-illustration"></div>
      </div>
    </div>
    <script src="./scripts/signup.js"></script>
  </body>
</html>
