<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/trashstyles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Mail Bird</title>
    <link rel="shortcut icon" href="./assets/images/logo-carrier-pigeon.png" />
  </head>
  <body>
    <div id="home-pg">
        <div id="menu-section">
            <div id="app-name-logo">
                <div><img id="app-logo" src="assets/images/logo-carrier-pigeon.png" alt="logo-carrier-pigeon"></div>
                <div id="app-name">Mail Bird</div> 
            </div>
            <div id="sections">
                <div id="inbox-sec">
                    <div><img id="inbox-sym" src="./assets/images/inbox.png" alt=""></div>
                    <div><a id="inbox-txt" href="./inboxsection">Inbox<span id="mails-number"></span></a></div>
                </div>
                <div id="sent-sec">
                    <div><img id="sent-sym" src="./assets/images/sent.png" alt=""></div>
                    <div><a id="sent-txt" href="/sentsection">Sent</a></div>
                </div>
                <div id="drafts-sec">
                    <div><img id="drafts-sym" src="./assets/images/draft.png" alt=""></div>
                    <div><a id="drafts-txt" href="/draftssection">Drafts</a></div>
                </div>
                <div id="trash-sec">
                    <div><img id="trash-sym" src="./assets/images/trash.png" alt=""></div>
                    <div><a id="trash-txt"href="/trashsection">Trash</a></div>
                </div>
            </div>
            <div></div>
        </div>
        <div id="design-section">
            <div id="section-header">
                <div id="section-name">Trash</div>
                <div id="sign-out-btn">
                    <div>
                        <a id="sign-out-txt" href="/signout">Sign out</a>
                    </div>
                    <div><img id="profile-user" src="assets/images/profile-user.png" alt="user profile"></div>
                </div>
            </div>
            <div id="mails-container">
            </div>
            <div>
                <div id="compose-btn">
                    <div><img id="compose-sym" src="./assets/images/compose-white.png" alt="Write mail symbol"></div>
                    <div><a id="compose-txt" href="./composemail">Compose</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/trashsection.js"></script>
  </body>
</html>
